#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.testButton{
  background-color: bisque;
  min-width: 150px;
  color: black;
}

.LoginPage {
  display: flex;
  justify-content: center;
  border: solid 2px white; 
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  background-image: url("data:url(noise), noise(32px)");
  
  max-width: 400px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
}
.custom-label{
  color: bisque;
}


.message-box {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #c5c4c2; /* assuming your background color */
  padding: 10px;
}

.my-message, .other-message {
  display: flex;
  justify-content: flex-start;
}

.my-message .ant-list-item-meta,
.other-message .ant-list-item-meta {
  display: flex;
  align-items: center;
  max-width: 60%;
  background: rgb(218, 216, 216);
  padding: 10px;
  border-radius: 10px;
}

.my-message {
  justify-content: flex-start;
}

.other-message {
  justify-content: flex-end;
}

.my-message .ant-list-item-meta-title,
.other-message .ant-list-item-meta-title {
  font-weight: bold;
}



.my-message .ant-list-item-meta-description,
.other-message .ant-list-item-meta-description {
  margin: 0;
}

.timestamp {
  font-size: 0.8em;
  color: gray;
  display: block;
  text-align: right;
  margin-top: 5px;
}



.other-message .ant-list-item-meta-avatar{
  margin-left: 0.8rem;
  order: 2;
}

.other-message .ant-list-item-meta-title,
.other-message .ant-list-item-meta-description{
  text-align: right;
}

.other-message .ant-list-item-meta-description .timestamp{
text-align: left;
}

.supabase-auth-ui_ui-container .c-jTXIoq.c-jTXIoq-bsgKCL-direction-vertical.c-jTXIoq-bXHFxK-gap-large > :not(.google-button-class) {
  display: none;
}


.supabase-auth-ui_ui-container .c-jTXIoq .c-jTXIoq-bsgKCL-direction-vertical .c-jTXIoq-bXHFxK-gap-large{
  display: none;
}

.custon_google form{
  display: none;
}


.google-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  margin: 1rem;
}

.google-button:hover {
  background-color: #f1f1f1;
}

.google-button:focus {
  outline: none;
}

.google-button .anticon {
  margin-right: 8px;
  font-size: 18px;
  color: #db4437; /* Google red */
}

.Crate_Channel_class{
  display: grid;

  grid-template-columns: 1fr 1fr;
  
}
